<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Forgot Password - CodeSage Academy</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="{{ url_for('static', filename='logo1.png') }}" alt="CodeSage Academy Logo">
        </div>
        <span class="menu-toggle">&#9776;</span>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('tutorials') }}">Tutorials</a></li>
                <li><a href="{{ url_for('Tests') }}">MCQ Tests</a></li>
                <li><a href="{{ url_for('resources') }}">Resources</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
        </nav>
    </header>

    <div class="login-container">
        <h2>Reset Password</h2>
        <form action="{{ url_for('reset_password', token=token) }}" method="POST">
            <div class="input-group">
            <label for="new_password">New Password:</label>
            <input type="password" id="new_password" name="new_password" required>
            </div>
            <div class="input-group">
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required>
            </div>
            <div class="input-group">
                <button type="submit">Reset Password</button>
            </div>

            
        </form>
    </div>

    <footer>
        &copy; 2024 CodeSage Academy
    </footer>

    <script>
        // JavaScript for toggling the mobile menu
        document.querySelector('.menu-toggle').addEventListener('click', function() {
            document.querySelector('nav ul').classList.toggle('show');
        });
    </script>
</body>
</html>
